body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
/* Header Started */
.main-header {
  width: 100%;
  background: url("https://templates.envytheme.com/promedi/default/assets/img/slider/1.jpg")
    center center/cover no-repeat;
  height: 400px;
}

.header-upper-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  opacity: 0.6;
  padding: 10px 15px;
}
.upper-part-1-phone-location {
  color: white;
}
.upper-part-1-phone-location i {
  margin: 10px;
}

.header-upper-part-1 p,
.header-upper-part-2 ul {
  margin: 0;
  padding: 0;
}

.header-upper-part-2 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header-upper-part-2 ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #396cf0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  transition: all 0.5s;
}
.upper-part-2-social-media a:hover {
  background-color: darkblue;
}

.lower-part {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 15px;
  position: fixed;
  margin-left: 10%;
}

.dropdown-home {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}

.home:hover .dropdown-home {
  display: block;
  height: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-blog {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}
.blog:hover .dropdown-blog {
  display: block;
  height: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-department {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}
.department:hover .dropdown-department {
  display: block;
  height: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
  max-height: 50px;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
}
.navbar-links ul li a:hover {
  transition: all 0.3s;
  color: blue;
}

.navbar-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-button button:hover {
  transition: all 1s;
  background-color: black;
}
/* Header Finished */

/* News Section Started */
.news-container {
  display: flex;
  justify-content: space-between;
}
.news-right-side {
  width: 35%;
}

.blogs-news {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.news-container {
  width: 90%;
  margin: 60px auto;
}

.news-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-left-side {
  width: 60%;
}

.row-left-side {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust gap between cards */
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* padding: 16px; */
  flex: 1 1 calc(40% - 16px); /* 2 cards per row */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 16px; /* Add margin-bottom for row spacing */
}
.card-container h3 a {
  color: #212529;
  line-height: 28px;
  font-size: 19px;
  font-weight: bold;
}
.card ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
} */

.card-container {
  padding: 16px;
}

.card-container h4 {
  margin: 0 0 10px;
}

.card-container p {
  margin: 0;
}
.card-container .meta-tag .author img {
  border-radius: 50%;
  width: 30px !important;
  height: 30px;
}
.card-container .meta-tag .author ul li {
  color: #666666;
}
.read-more {
  color: #396cf0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  line-height: 16px;
}
.widget-latest-post .title {
  font-size: 25px;
  border-bottom: 4px solid blue;
}
#search-box {
  border: 1px solid #eeeeee;
  height: 45px;
  padding: 8px 15px;
  width: 350px;
}
#ffbutton {
  height: 45px;
  width: 60px;
  cursor: pointer;
  padding: 0;
  background-color: #396cf0;
  margin-left: 1px;
}
#ffbutton:hover {
  height: 45px;
  width: 60px;
  cursor: pointer;
  padding: 0;
  background-color: black;
  transition: all 0.5s;
  margin-left: 1px;
}
#ffbutton i {
  color: white;
}

.single-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content h4 {
  text-align: start;
  margin-left: 5px;
}
.content li {
  position: relative;
  text-align: justify;
  left: 10px;
}
.content h4a {
  color: black;
}

/* News Section Endded */

/* Health-Care Section Started */
.health-container {
  width: 100%;
  background-color: #396cf0;
  opacity: 0.9;
  z-index: -1;
  height: 150px;
}

.health-row {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.health-care-left-side-text h3 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 5px;
}
.health-care-left-side-text p {
  color: #ffffff;
}
.health-row i {
  font-size: 60px;
  position: absolute;
  left: 70px;
  color: white;
  cursor: pointer;
}

.health-care-right-side-button a {
  background-color: white;
  color: #396cf0;
  display: inline-block;
  border: 1px solid #396cf0;
  cursor: pointer;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
}
.health-care-right-side-button a:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

/* Health-Care Section Endded */

/* Footer Started */

.footer-part {
  width: 80%;
  margin: 20px auto;
  padding-top: 50px;
  background-color: white;
}
.row-footer {
  display: flex;
  justify-content: space-between;
}
.promedi {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.promedi p {
  text-align: justify;
}
.footer-social-links {
  display: flex;
  gap: 20px;
}
.footer-part i {
  font-size: 22px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  background: #396cf0;
  color: #ffffff;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: 0.5s;
}
.footer-part i:hover {
  transition: all 0.5s;
  background-color: #000;
}
.quick-links {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.departments {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.contact-us {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer-part h3 {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: -6px;
}
.footer-part ul li a {
  color: #666666;
}
.footer-part p {
  color: #666666;
}
.foot-contact-info {
  position: relative;
  padding-left: 50px;
  margin-top: 15px;
}
.foot-contact-info i {
  background-color: #396cf0;
  color: #ffffff;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  left: 0;
  top: 5px;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
}
.right-side-bottom-footer ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.right-side-bottom-footer ul li a:hover {
  color: #396cf0;
}

/* Footer Ended */
