body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
/* Header Started */
.main-header {
  width: 100%;
  background: url("https://templates.envytheme.com/promedi/default/assets/img/slider/1.jpg")
    center center/cover no-repeat;
  height: 750px;
}

.header-upper-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  opacity: 0.6;
  padding: 10px 15px;
}
.upper-part-1-phone-location {
  color: white;
}
.upper-part-1-phone-location i {
  margin: 10px;
}

.header-upper-part-1 p,
.header-upper-part-2 ul {
  margin: 0;
  padding: 0;
}

.header-upper-part-2 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header-upper-part-2 ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #396cf0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  transition: all 0.5s;
}
.upper-part-2-social-media a:hover {
  background-color: darkblue;
}

.lower-part {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 15px;
  position: fixed;
  margin-left: 10%;
}

.dropdown-home {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}

.home:hover .dropdown-home {
  display: block;
  height: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-blog {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}
.blog:hover .dropdown-blog {
  display: block;
  height: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-department {
  position: absolute;
  background-color: white;
  min-width: 200px;
  height: 0px;
  padding: 12px 16px;
  z-index: 1;
  padding: 5px 12px;
  font-size: 10.5px;
  transition: all 0.5s;
  overflow: hidden;
}
.department:hover .dropdown-department {
  display: block;
  height: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-logo img {
  max-height: 50px;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
}
.navbar-links ul li a:hover {
  transition: all 0.3s;
  color: blue;
}

.navbar-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-button button:hover {
  transition: all 1s;
  background-color: black;
}
/* Header Finished */

/* Slider-Part Started */

.hero-slider .hs-item {
  height: 750px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.hero-slider .hs-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}
.hero-slider .hs-item .hero-text {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 100%;
}
.hero-slider .hs-item .hero-text h1 {
  color: #ffffff;
  margin: 0;
  font-weight: bold;
  font-size: 80px;
}
.hero-slider .hs-item .hero-text .default-btn {
  margin: 25px 4px 0;
}
.hero-slider .hs-item-bg1 {
  background-image: url("../photoes/Home-Page-Slider/1.jpg");
}
.hero-slider .hs-item-bg2 {
  background-image: url("../photoes/Home-Page-Slider/2.jpg");
}
.hero-slider .hs-item-bg3 {
  background-image: url("../photoes/Home-Page-Slider/3.jpg");
}
.hero-slider button.owl-prev,
.hero-slider button.owl-next {
  position: absolute;
  left: 50px;
  top: 50%;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  width: 50px;
  height: 50px;
  margin: -45px 0 0 0 !important;
  font-size: 25px !important;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
.hero-slider button.owl-prev:hover,
.hero-slider button.owl-next:hover {
  background-color: #396cf0 !important;
  color: #ffffff !important;
  border-color: #396cf0 !important;
}
.hero-slider button.owl-next {
  left: auto;
  right: 50px;
}
.hero-slider .owl-item.active h1 {
  animation: 1s 0.3s fadeInUp both;
}
.hero-slider .owl-item.active .default-btn {
  animation: 1s 0.3s fadeInDown both;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

/* Slider Part Finished */

/* Footer Started */

.footer-part {
  width: 80%;
  margin: 20px auto;
  padding-top: 50px;
  background-color: white;
}
.row-footer {
  display: flex;
  justify-content: space-between;
}
.promedi {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.promedi p {
  text-align: justify;
}
.footer-social-links {
  display: flex;
  gap: 20px;
}
.footer-part i {
  font-size: 22px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  background: #396cf0;
  color: #ffffff;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: 0.5s;
}
.footer-part i:hover {
  transition: all 0.5s;
  background-color: #000;
}
.quick-links {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.departments {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.contact-us {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer-part h3 {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: -6px;
}
.footer-part ul li a {
  color: #666666;
}
.footer-part p {
  color: #666666;
}
.foot-contact-info {
  position: relative;
  padding-left: 50px;
  margin-top: 15px;
}
.foot-contact-info i {
  background-color: #396cf0;
  color: #ffffff;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  left: 0;
  top: 5px;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
}
.right-side-bottom-footer ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.right-side-bottom-footer ul li a:hover {
  color: #396cf0;
}
/* 07- Welcome Styles ----------------------------*/
.single-box {
  position: relative;
  padding-left: 60px;
}
.single-box .icon {
  position: absolute;
  left: 0;
  top: 0;
  color: #396cf0;
  font-size: 40px;
  transition: all 0.5s;
}
.single-box h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.single-box:hover .icon {
  animation: toTopFromBottom 0.5s forwards;
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(50%);
  }
  50% {
    opacity: 0;
    transform: translateY(-50%);
  }
  51% {
    opacity: 1;
  }
}
.welcome-inner-content {
  margin-top: 70px;
}
.welcome-inner-content span {
  text-transform: uppercase;
  display: block;
  margin-top: -4px;
  font-size: 14px;
  color: #396cf0;
}
.welcome-inner-content h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  line-height: 33px;
}
.welcome-inner-content p {
  margin-bottom: 0;
}
.welcome-inner-content ul {
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  list-style-type: none;
}
.welcome-inner-content ul li {
  position: relative;
  color: #666666;
  margin-bottom: 10px;
  padding-left: 23px;
  float: left;
  width: 40%;
}
.welcome-inner-content ul li:last-child {
  margin-bottom: 0;
}
.welcome-inner-content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  background: #396cf0;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*
08- Services Styles
----------------------------*/
.services-box {
  margin-top: -130px;
  z-index: 999;
  position: relative;
  background-color: #ffffff;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px 0;
  border: 1px solid #eeeeee;
}

.single-card {
  border: 1px solid #eeeeee;
  transition: all 0.5s;
}
.single-card .thumb-img {
  position: relative;
}
.single-card .thumb-img img {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  width: 100%;
}
.single-card .thumb-img::before {
  content: "";
  position: absolute;
  background-color: #396cf0;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 3px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
  transition: 0.4s;
}
.single-card .caption-text {
  padding: 30px 20px;
}
.single-card .caption-text h3 {
  font-size: 20px;
  transition: all 0.5s;
  margin-bottom: 15px;
}
.single-card .caption-text p {
  margin: 0;
}
.single-card .caption-text .designation {
  color: #396cf0;
  display: block;
}
.single-card:hover {
  transform: translateY(-10px);
  box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  background: #ffffff;
  border-color: #ffffff;
}
.single-card:hover .caption-text h3 {
  color: #396cf0;
}

.services-section {
  background-attachment: fixed;
  background-image: url(../../assets/img/bg.png);
  padding-bottom: 70px;
}

.single-services {
  margin-bottom: 30px;
  text-align: center;
  background: #ffffff;
  padding: 30px;
  transition: 0.4s;
}
.single-services .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 65px;
  border: 2px solid #396cf0;
  border-radius: 50%;
  font-size: 30px;
  position: relative;
  color: #396cf0;
  z-index: 1;
  transition: 0.4s;
}
.single-services .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #396cf0;
  z-index: -1;
  opacity: 0;
  border-radius: 3px;
  border-radius: 50%;
  transform: scale(0);
  visibility: hidden;
  z-index: -1;
  transition: 0.4s;
}
.single-services h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.single-services:hover {
  transform: translateY(-10px);
}
.single-services:hover .icon {
  color: #ffffff;
}
.single-services:hover .icon::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/*
09- About Section Styles
------------------------------------*/
.about-section .about-us-img {
  -webkit-clip-path: polygon(
    3% 18%,
    0 0,
    20% 2%,
    76% 2%,
    100% 0,
    97% 19%,
    96% 80%,
    100% 100%,
    80% 96%,
    18% 96%,
    0 100%,
    3% 82%
  );
  clip-path: polygon(
    3% 18%,
    0 0,
    20% 2%,
    76% 2%,
    100% 0,
    97% 19%,
    96% 80%,
    100% 100%,
    80% 96%,
    18% 96%,
    0 100%,
    3% 82%
  );
}
.about-section .about-us-text h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-style: italic;
}
.about-section .about-us-text .default-btn {
  margin-top: 10px;
}
.about-us-text

/*
10- Departments Section Styles
------------------------------------*/

/* .department-section .container {
  width: 100%;
} */
.department-section {
}
.department-section .single-department {
  text-align: center;
  margin-bottom: 50px;
}
.department-section .single-department i {
  font-size: 35px;
  background-color: #eaeaea;
  color: #396cf0;
  height: 75px;
  width: 75px;
  display: inline-block;
  line-height: 75px;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: all 0.5s;
}
.department-section .single-department:hover i {
  background-color: #396cf0;
  color: #ffffff;
}
.department-section .single-department h3 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.department-section .single-department p {
  margin: 0;
}

.tab .tabs {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}
.tab .tabs li {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.tab .tabs li a {
  display: block;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 3px;
  padding: 25px 12px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #3b566e;
  position: relative;
  z-index: 1;
}
.tab .tabs li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #396cf0;
  z-index: -1;
  opacity: 0;
  border-radius: 3px;
  transform: scale(0.5);
  visibility: hidden;
  transition: 0.4s;
}
.tab .tabs li a i {
  color: #396cf0;
  font-size: 40px;
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.4s;
}
.tab .tabs li a:hover,
.tab .tabs li a:hover i {
  color: #ffffff;
}
.tab .tabs li a:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.tab .tabs li:first-child a {
  border-radius: 30px 0 0 0;
}
.tab .tabs li:first-child a::before {
  border-radius: 30px 0 0 0;
}
.tab .tabs li:last-child a {
  border-radius: 0 30px 0 0;
}
.tab .tabs li:last-child a::before {
  border-radius: 0 30px 0 0;
}
.tab .tabs li.current a,
.tab .tabs li.current a i {
  color: #ffffff;
}
.tab .tabs li.current a::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.tab .tab_content .tabs_item {
  display: none;
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}
.tab .tab_content .tabs_item:first-child {
  display: block;
}
.tab .tab_content .tabs_item .tabs_item_content {
  padding: 43px 0;
}
.tab .tab_content .tabs_item .tabs_item_content h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.tab .tab_content .tabs_item .tabs_item_content ul {
  padding: 0;
  margin: 15px 0 20px 0;
  list-style-type: none;
}
.tab .tab_content .tabs_item .tabs_item_content ul li {
  position: relative;
  color: #666666;
  font-size: 14px;
  margin-bottom: 10px;
  padding-left: 25px;
}
.tab .tab_content .tabs_item .tabs_item_content ul li:last-child {
  margin-bottom: 0;
}
.tab .tab_content .tabs_item .tabs_item_content ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 15px;
  height: 15px;
  background: #396cf0;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.section-title h2 {
  text-align: center;
}
.department-section .single-department i {
  text-align: center;
}
/* Health-Care Section Started */
.health-container {
  width: 100%;
  background-color: #396cf0;
  opacity: 0.9;
  z-index: -1;
  height: 150px;
}

.health-row {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.health-care-left-side-text h3 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 50px;
}
.health-care-left-side-text p {
  color: #ffffff;
}
.health-row i {
  font-size: 60px;
  position: absolute;
  left: 70px;
  color: white;
  cursor: pointer;
  margin-top: 40px;
}

.health-care-right-side-button a {
  background-color: white;
  color: #396cf0;
  display: inline-block;
  border: 1px solid #396cf0;
  cursor: pointer;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 40px;
}
.health-care-right-side-button a:hover {
  transition: 0.5s;
  background-color: black;
  color: white;
}

/* Health-Care Section Endded */

/*
11- Video Section Styles
------------------------------------*/
.video-section {
  background-color: #396cf0;
  position: relative;
}
.video-section .video-content {
  background-image: url(../photoes/Home-Page-Video-Part/video-bg.jpg);
  background-size: cover;
  background-position: center center;
  height: 450px;
  max-width: 750px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.video-section .video-content:before {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
  border-radius: 5px;
}
.video-section .video-content .play-video {
  position: relative;
  background-color: #ffffff;
  color: #396cf0;
  height: 100px;
  display: inline-block;
  width: 100px;
  line-height: 100px;
  font-size: 50px;
  border-radius: 50%;
  padding-left: 10px;
}
.video-section .video-content .play-video:hover {
  background-color: #396cf0;
  color: #ffffff;
}

.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 8rem 0;
}
.sonar-wrapper .sonar-emitter {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  background-color: HSL(45, 100%, 50%);
}
.sonar-wrapper .sonar-emitter .sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(45, 100%, 50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.6;
  }
  to {
    transform: scale(4);
    -webkit-transform: scale(4);
    opacity: 0;
  }
}
/*
12- Counter Section Styles
------------------------------------*/
.counter-section .single-counter {
  text-align: center;
  margin-bottom: 30px;
}
.counter-section .single-counter i {
  color: #396cf0;
  font-size: 45px;
}
.counter-section .single-counter h3 {
  font-size: 40px;
  margin: 20px 0 6px;
}
.counter-section .single-counter p {
  font-size: 17px;
}

/* Footer Ended */
