* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 28px;
  word-wrap: break-word;
}
p {
  color: #666666;
}
