body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.main-header {
  width: 100%;
  background: url("https://templates.envytheme.com/promedi/default/assets/img/slider/1.jpg")
    center center/cover no-repeat;
  height: 450px;
}

.header-upper-parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  opacity: 0.6;
  padding: 10px 15px;
}
.upper-part-1-phone-location {
  color: white;
}
.upper-part-1-phone-location i {
  margin: 10px;
}

.header-upper-part-1 p,
.header-upper-part-2 ul {
  margin: 0;
  padding: 0;
}

.header-upper-part-2 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header-upper-part-2 ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #396cf0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  transition: all 0.5s;
}

.lower-part {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 15px;
  position: fixed;
  margin-left: 10%;
}

.navbar-logo img {
  max-height: 50px;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navbar-links ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 5px 10px;
}
.navbar-links ul li a:hover {
  transition: all 0.3s;
  color: blue;
}

.navbar-button button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.navbar-button button:hover {
  transition: all 1s;
  background-color: black;
}

.title-part {
  background-color: white;
  padding: 20px 15px;
}

.title-part-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-h h2 {
  margin: 0;
}

.title-sub ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.title-sub ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

@media (min-width: 768px) {
  .header-upper-parts,
  .lower-part,
  .title-part {
    padding: 20px 50px;
  }
}

@media (min-width: 992px) {
  .header-upper-parts,
  .lower-part,
  .title-part {
    padding: 20px 100px;
  }
}

/* Contact Section Started */

.contact-part {
  width: 90%;
  margin: 20px auto;
  padding-top: 50px;
  background-color: white;
}
.container .row {
  display: flex;
  justify-content: space-between;
}
.input-name-email {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5px;
}
.input-subject-phone {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5px;
}
#fname {
  border: 1px solid #eeeeee;
  height: 45px;
  padding: 8px 15px;
  border-radius: 5px;
  width: 350px;
}
#femail {
  border: 1px solid #eeeeee;
  height: 45px;
  padding: 8px 15px;
  border-radius: 5px;
  width: 350px;
}
#fsubject {
  border: 1px solid #eeeeee;
  height: 45px;
  padding: 8px 15px;
  border-radius: 5px;
  width: 350px;
}
#fphone {
  border: 1px solid #eeeeee;
  height: 45px;
  padding: 8px 15px;
  border-radius: 5px;
  width: 350px;
}
#fmessage {
  border: 1px solid #eeeeee;
  height: 120px;
  width: 740px;
  padding: 8px 15px;
  border-radius: 5px;
}
#fbutton {
  position: relative;
  left: 54%;
}
.get-in-touch-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.get-in-touch ul li {
  margin-bottom: 8px;
  color: #666666;
}
.get-in-touch ul li i {
  color: blue;
  margin-right: 5px;
}
.Openning-Hours-Title {
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 36px;
}
.openning-hours ul li {
  margin-bottom: 8px;
  color: #666666;
}
.questions-title {
  font-size: 20px;
  margin-bottom: 15px;
}
.contact-part p {
  text-transform: uppercase;
  color: #396cf0;
}
#fbutton {
  background-color: #396cf0;
  color: #ffffff;
  display: inline-block;
  border: 1px solid #396cf0;
  cursor: pointer;
  padding: 8px 30px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
}
#fbutton:hover {
  transition: all 0.5s;
  background-color: #212529;
}
.mapp {
  width: 100%;
  height: 500px;
  padding-top: 100px;
}
#map iframe {
  width: 100%;
  height: 400px;
}

.footer-part {
  width: 80%;
  margin: 20px auto;
  padding-top: 50px;
  background-color: white;
}
.row-footer {
  display: flex;
  justify-content: space-between;
}
.promedi {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.promedi p {
  text-align: justify;
}
.footer-social-links {
  display: flex;
  gap: 20px;
}
.footer-part i {
  font-size: 22px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  background: #396cf0;
  color: #ffffff;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: 0.5s;
}
.quick-links {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.departments {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.contact-us {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer-part h3 {
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: -6px;
}
.footer-part ul li a {
  color: #666666;
}
.footer-part p {
  color: #666666;
}
.foot-contact-info {
  position: relative;
  padding-left: 50px;
  margin-top: 15px;
}
.foot-contact-info i {
  background-color: #396cf0;
  color: #ffffff;
  position: absolute;
  height: 40px;
  width: 40px;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  left: 0;
  top: 5px;
}
